!!! html
html
  head  
    title NewsReader
    // Global CSS
    -if (env == 'production')
      link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css")
    -else
      link(rel="stylesheet", href="/static/libs/twitter-bootstrap/2.3.1/css/bootstrap.css")
    link(rel="stylesheet", href="/static/libs/font-awesome/css/font-awesome.css")
    link(href="http://fonts.googleapis.com/css?family=Roboto:300,700",rel="stylesheet",type="text/css")
    != css('layout')
    // Local CSS
    block layout-css
  body
    div.container-fluid
      div.masthead
        ul.nav.nav-pills.pull-right
          li
            a(href="/options")
              i.icon-cogs.icon-large

        h3
          a(href="/", style="text-decoration:none;") NR
          small(style="color:#444;padding-left:20px;")
            a#next(href="/next") #{new_count}n
            span.divider  / 
            a#archived(href="/archived") #{archived_count}a
            span.divider  /  
            a#clicked(href="/clicked") #{clicked_count}c
            span.divider  / 
            a#saved(href="/saved") #{saved_count}s
            span.divider  / 
            a(href="/graphs") ...

    div.container-fluid
      // Local content
      block content

    

    #fetching.modal-backdrop.fade.in.hide(style="text-align:center;padding-top:300px;")
      h1(style="color:white;") Fetching ...


    // Global JS
    -if (env == 'production')
      script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
      script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
    - else
      script(src="/static/libs/jquery/1.9.1/jquery.js")
      script(src="/static/libs/twitter-bootstrap/2.3.1/js/bootstrap.js")
    script(src="/static/libs/keymaster/keymaster.min.js")
    script
      key('a', function(){ window.location.href = '/archived' });
      key('c', function(){ window.location.href = '/clicked' });
      key('s', function(){ window.location.href = '/saved' });
      key('g', function(){ window.location.href = '/graphs' });
      key('o', function(){ window.location.href = '/options' });
      key('f', function(){
        $('#fetching').removeClass('hide');
        key.deleteScope('all');
        window.location.href = '/fetch'
      });
      key('h', function(){ window.location.href = '/' });
    // Local JS
    block layout-js
 