div.news-item
  padding   10px 0
  a
    font-size     24px
    margin-bottom 0
    font-family   time
    //line-height   30px
  a
    color   inherit


body
  background-color      #EEE
  //background-image    url(http://bradjasper.com/subtle-patterns-bookmarklet/patterns/bedge_grunge.png)
  //background-size     auto
  //background-repeat  repeat repeat