extend ../layout

block content

  div.row-fluid(style="padding:15px 0px;")



    if news_links.length
      for news_link in news_links
        div.news-item
          p(style="font-family:Roboto;")
            if news_link.news_url != undefined
              a(href="#{news_link.news_url}",target="#")= news_link.news_title
            else
              span(style="text-decoration: line-through;") #{news_link.news_title}
    else
      h1(style="text-align:center;margin-top:50px;") Empty.


block layout-js
  script
    $("a##{filter_name}").css('text-decoration', 'underline');
    $("a##{filter_name}").css('font-size', '20px');

