extend ../layout



block content
  
  div.masthead
    ul.nav.nav-pills.pull-right
      li.active
        a(href="/") Home
      li
        a(href="/clicked") Clicked
      li
        a(href="/saved") Saved
      li
        a(href="/archived") Archived
      li
        a(href="/settings") Settings
    h3
      | NewsReader 
      small
        | 20% / 43a / 33c / 3s 
        a(href="#") ...


  hr

  div.row-fluid
    if news_links.length
      for news_link in news_links
        div.news-item
          p
            if news_link.url != undefined
              a(href="#{news_link.url}")= news_link.title
            else
              span(style="text-decoration: line-through;") #{news_link.title}
    else
      h1(style="text-align:center;margin-top:50px;") You've read everything.

  if news_links.length
    hr
    p(style="text-align:center;")
      a.btn.btn-large.btn-primary(style="width:150px;",href=("/next"))
        | Next 
        i.icon-chevron-right.icon-white